@import "../../../config";
.modal--add-route-form {
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
  animation: route-open 0.3s ease-in-out;
  animation-fill-mode: backwards;
  border: solid 4px black;
  border-radius: 1rem;
  color: black;
  overflow-y: auto;
  .add-route-form--back-arrow {
    position: absolute;
  }
  .add-route-form--title-text {
    padding-top: 1rem;
    .add-route-form--title {
      color: black;
      text-align: center;
    }
  }

  .modal--add-route-button {
    background-color: white;
    color: black;
    width: 60%;
    margin: 2rem auto;
    border-radius: 400px;
  }
}

@keyframes route-open {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
