@import "../../../config";

.route-view {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $light-color;
  border-radius: 1rem;
  .route-view--grade-rating {
    margin-top: 6rem;
    background-color: rgb(219, 219, 219);
    display: flex;
    padding: 1rem;
    justify-content: space-between;
  }
  .route-view--body {
  }
}
