@import "../../../config";

.crag-modal {
  color: black;
  min-height: 95%;
  min-width: 95%;
  border-radius: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 0 3rem white;

  .modal--text {
    display: flex;
    margin: 0 auto;
  }
  .crag-modal--body {
    padding-top: 6rem;
    .sector-photo {
      height: 20rem;
      background-color: aqua;
    }
    .crag--route-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
    }
    .sector--route-list-wrapper {
      border: solid 3px black;
      border-radius: 5px;
      overflow-y: auto;
      .sector--route-title-wrapper {
        display: grid;
        grid-template-columns: 2fr 0.3fr 1fr;
        font-size: 1.7rem;
        padding: 0.5rem;
        font-weight: 600;
        border-bottom: solid 1px black;
      }
    }
  }
}
