@import "../../config";

#crag {
  margin-top: $nav-height;
  color: $dark-color;
  .crag--text {
    text-align: right;
  }
  .map-container {
    width: 100%;
    height: 80vh;
  }
}

.crag-modal {
  color: black;
}
