@import "../../config";

.crag-modal {
  color: black;
  min-height: 80%;
  min-width: 85%;
  padding: 1rem;
  border-radius: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 1000;
  .sector-photo {
    height: 20rem;
    background-color: aqua;
  }
  .crag--route-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .sector--route-list-wrapper {
    border: solid 1px black;
    border-radius: 5px;
    overflow-y: scroll;
    .sector--route-title-wrapper {
      display: grid;
      grid-template-columns: 2fr 0.3fr 1fr;
      font-size: 1rem;
    }
  }
}
