@import "../../config";

.route {
  color: black;
  display: grid;
  grid-template-columns: 2fr 0.3fr 1fr;
  background-color: rgb(219, 219, 219);
  padding: 0.5rem;
  margin: 0.5rem 0;
  .route--route-stars {
    text-align: right;
  }
}
