@import "../../config";

#new-user {
  margin-top: $nav-height;
  color: black;
  .warning-text {
    text-align: center;
    font-weight: 600;
  }
  .warning-text {
    text-align: center;
    font-weight: 600;
  }
  .red {
    color: red;
  }
  .green {
    color: green;
  }
}
