@import "../../config";

#hero {
  margin-top: $nav-height;
  min-height: calc(100vh - $nav-height);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  background-color: $dark-color;
  .hero-wrapper {
    text-align: center;
    padding-top: 3rem;
    .hero-logo {
      width: 90%;
      max-width: 20rem;
    }
    .hero-text {
      text-transform: uppercase;
      margin-top: 1rem;
      line-height: 2.5rem;
      .hero-subheading {
        display: block;
        text-align: center;
        font-size: 1rem;
        letter-spacing: 18px;
        text-indent: 18px;
        animation: slideLeft 1s ease-out;
      }
      .hero-heading {
        display: block;
        text-align: center;
        font-size: 2.2rem;
        animation: slideRight 1s ease-out;
      }
    }
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
