@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap");

$nav-height: 4.5rem;
$light-color: white;
$dark-color: black;

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: $light-color;
  background-color: $light-color;
  box-sizing: border-box;
  overflow-y: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container {
  padding: 1rem;
}

.title-text {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.text-white {
  color: white;
}
.standard-text {
  font-size: 2rem;
}

.page-title {
  font-size: 4rem;
}

.right {
  text-align: right;
}

a {
  text-decoration: none;
  color: unset;
}

input {
  border-radius: 0px;
}

input[type="submit"] {
  -webkit-appearance: none;
}

h2 {
  font-size: 2.5rem;
}

/* Forms */
.form-standard {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.1rem;
  .form-field {
    margin: 0.5rem 0;
    background-color: rgb(230, 230, 230);
    border: 1px solid #ccc;
    padding: 0.5rem;
    font-size: inherit;
    font-family: inherit;
  }
  .form-button {
    font-size: inherit;
    margin: 0.5rem 0;
    width: 100%;
    border: none;
    padding: 0.7rem;
    color: $light-color;
    background-color: $dark-color;
    text-align: center;
    border-radius: none;
    font-weight: 600;
  }
}
.form-text {
  margin: 0.5rem 0;
  background-color: rgb(230, 230, 230);
  border: 1px solid #ccc;
  font-size: inherit;
  padding: 0.5rem;
  font-family: inherit;
}
.form-error {
  text-align: center;
  font-weight: 600;
  color: red;
}
.form-happy {
  text-align: center;
  font-weight: 600;
  color: green;
}

.standard-button {
  color: $light-color;
  background-color: black;
  padding: 1rem 2rem;
  border: none;
}
