@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap");

$nav-height: 3.5rem;
$light-color: white;
$dark-color: black;

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: $light-color;
}
body {
  background-color: $light-color;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container {
  padding: 0.5rem;
}

.home-title {
  margin-bottom: 0.5rem;
}

.page-title {
  font-size: 4rem;
}

a {
  text-decoration: none;
  color: unset;
}
