@import "../../config";

.btn-home {
  padding: 16px 25px;
  font-size: 1rem;
  border: none;
  border-radius: 200px;
  box-shadow: 0 3px 10px black;
  transition: all 0.1s ease-in-out;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 13px black;
  }
}
