@import "../../config";

#nav {
  height: $nav-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 2px 10px rgba($color: $light-color, $alpha: 0.2);
  background-color: black;
  z-index: 1000;
  .nav--notification-icon {
    font-size: 3rem;
    cursor: pointer;
    * {
      display: flex;
      margin: auto 0;
    }
  }
  .logo {
    height: 3rem;
    margin: auto;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: pointer;
    @include laptop {
      display: none;
    }
  }
  a {
    height: 80%;
  }
  .nav-menu {
    display: none;
    align-items: center;
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-image: url("../../media/images/rock-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .nav-item {
      list-style: none;
      color: $light-color;
      font-weight: 600;
      font-size: 5rem;
      margin: 1rem 0;
      @include laptop {
        font-size: 2rem;
        margin: 1rem;
      }
    }
    &.open {
      display: flex;
      animation: nav-open 300ms ease-in-out;
      @include laptop {
        animation: none;
      }
    }
    @include laptop {
      display: flex;
      background: none;
      position: relative;
      height: fit-content;
      ul {
        display: flex;
      }
    }
  }
  .nav--notifications {
    position: absolute;
    display: none;
    top: $nav-height;
    background-color: white;
    color: black;
    right: auto;
    left: 0;
    width: 100vw;
    max-width: 50rem;
    border-top-right-radius: 1rem;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    border: solid 1px gray;

    .nav--notification-close {
      position: absolute;
      display: flex;
      border-radius: 0 0 1rem 1rem;
      bottom: 0;
      right: 0;
      left: 0;
      height: 4rem;
      background-color: rgb(202, 202, 202);
      transform: translateY(4rem);
      * {
        margin: auto;
        font-size: 3rem;
        color: rgb(106, 106, 106);
      }
    }
    .nav--notification-list-wrapper {
      .nav--notification-item {
        padding: 0;
        margin: 0;
        list-style-type: none;
      }
      .nav--notification-no-notifications {
        text-align: center;
      }
    }
    &.open {
      display: block;
      animation: notifications-open 0.3s ease-in-out;
    }
  }
  .burger-button {
    position: absolute;
    top: 1rem;
    right: 0.75rem;
    width: 35px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    span {
      height: 3px;
      width: 100%;
      display: block;
      background-color: $light-color;
      border-radius: 5px;
    }
    @include laptop {
      display: none;
    }
  }
}

@keyframes nav-open {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes notifications-open {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
